.hotel-card-img {
    object-fit: cover;
}

.card-body-location {
    height: 4.6rem;
}

.card-footer-info {
    color: black;
}

.hotel-card-edit-icon {
    cursor: pointer;
    color: orange;
}

.hotel-card-delete-icon {
    cursor: pointer;
    color: red;
}