.top-nav-bar {
    z-index: 10;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link:active {
    color: var(--primary-color); 
}

.nav-link:visited {
    color: var(--primary-color);
}

.nav-bar-icon {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.nav-bar-link {
    margin: 0.4rem auto 0 auto;
    font-weight: 500;
    font-size: medium;
    color: var(--primary-color);
}