.hotels-list-header {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: rgb(255, 120, 70);
    background-image: url("../../assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

.hotel-list-header-banner {
    width: 100%;
    height: 46vh;
    background-color: rgba(0,0,0,.125);
}

.banner-image {
    max-width: 100%;
    height: auto;
}

.serach-form-container {
    position: absolute;
    align-self: center;
    top: 88%;
    height: 14vh;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
}

.list-header {
    font-weight: 400;
}