:root {
    --primary-color: #ff7f50;
    --secondary-color: rgba(255, 98, 41, 1);
    --primary-light-color: rgba(255, 98, 41, 0.7);
    --primary-lighter-color: rgba(255, 127, 80, 0.65);
  }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

.bg-theme-color {
  background-color: var(--primary-light-color);
}

.bg-primary-header {
  height: 25vh;
  width: 100%;
  margin-bottom: 1.5rem;
}

.btn-theme-color {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-theme-color:hover {
  color: white;
  background-color: var(--primary-lighter-color);
  border-color: var(--primary-lighter-color);
}

.btn-theme-color:hover:focus {
  background-color: var(--primary-lighter-color);
  border-color: var(--primary-lighter-color);
  box-shadow: 0 0 0 3px var(--primary-lighter-color);
}

.dashboard-stripe-container {
  background-color: rgba(255, 127, 80, 0.65);
}

